BACKEND_API_BASE_URL=https://oiso.duckdns.org
MODEL_NAME=jhgan/ko-sroberta-multitask
API_TIMEOUT=10
API_PAGE_SIZE=100
USE_ROUTE_API=false
# TOUR_DATA_PATH=_TourSpot__202607062337.csv
# BACKEND_AUTH_COOKIE=

